.idea/

# https://github.com/github/gitignore/blob/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Custom usage
# Pretrained models
models/
# training model and logs
training/