.idea/

# https://github.com/github/gitignore/blob/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Custom usage
# Pretrained models
models/
checkpoints/
# training checkpoints and logs
training/
validation/